#keyboard_helper {
    position: absolute;
    z-index: 1;
    top: calc(50% - 150px);
    right: 0;
    width: 100px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px 0 0 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 40px;
    text-align: center;
    opacity: 0.5;
    transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
}

#kh_tab {
    position: absolute;
    left: -17px;
    width: 10px;
    height: 45px;
    border: 1px solid rgba(220,220,220,1);
    background-color: rgba(230,230,230,1);
    border-radius: 2px 0 0 2px;
    cursor: pointer;
}

#kh_space {
    font-size: 15px;
}

#kh_left {
    
}

#kh_up {
    
}

#kh_right {
    
}

.kh_icon {
    font-size: 20px;
    width: 90px;
    height: 45px;
    border: 1px solid rgba(175,175,175,1) !important;
    background-color: rgba(175,175,175,1) !important;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.kh_label_container {
    position: absolute;
    display: flex;
    top: 35px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
    width: 100%;
}

.kh_label {
    width: 90px;
    height: 45px;
    margin-top: 20px;
    margin-left: 2px;
    margin-right: 2px;
}

.slide_right{
    right: -100px !important;
}

.highlight {
    background-color: rgba(230,230,230,1) !important;
}