/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: -100px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.0); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal-header {
    padding: 2px 16px;
    background-color: rgba(0, 128, 255, 0.75);
    color: white;
}

.modal-body {padding: 2px 16px;}

.user_yes, .user_no {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;;
    margin-right: 20px;
    cursor: pointer;
    width: 150px;
    height: 60px;
    color: white;
    font-weight: bold;
    border-radius: 15px;
}

.user_yes {
    background-color: #36c77a;
    box-shadow: -4px 4px 5px rgba(150, 150, 150, 0.65);
}

.user_no {
    box-shadow: 4px 4px 5px rgba(150, 150, 150, 0.65);
    background-color: #fb523f;
}

.modal-footer {
    padding: 2px 16px;
    background-color: rgba(0, 128, 255, 0.75);
    color: white;
} {top: 0; opacity: 1}
}