.scatter-plot {
  display: inline-block;
}

.point {
  fill: steelblue;
}

.c-point {
  fill: green;
}

.point:hover {
  fill: brown;
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}