* {
  font-family:  Arial, Helvetica, sans-serif;
}

a:link {
  color:#000;
  text-decoration: none;
}

a:visited {
  color:#000;
}

a:hover {
  color:#33F;
}

.button {
  background: -webkit-linear-gradient(top,#008dfd 0,#0370ea 100%);
  border: 1px solid #076bd2;
  border-radius: 3px;
  color: #fff;
  display: none;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.3;
  padding: 8px 25px;
  text-align: center;
  text-shadow: 1px 1px 1px #076bd2;
  letter-spacing: normal;
}

.center {
  padding: 10px;
  text-align: center;
}

.final {
  position: relative;
  top: 15px;
  color: black;
  padding-right: 3px; 
}

.interim {
  position: relative;
  top: 15px;
  color: gray;
}

.right {
  float: right;
}

.left {
    float: left;
}

.sidebyside {
  z-index: -99;
  margin-top: 15px;
    margin-bottom: 15px;
  display: inline-block;
  width: 100%;
  min-height: 40px;
  text-align: center;
  vertical-align: middle;
}

#headline {
  font-size: 40px;
  font-weight: 300;
}

#results {
    position: absolute;
    font-size: 14px;
    left: 0;
    top: 0;
    font-weight: bold;
    border: 1px solid #ddd;
    width: 100%;
    height: 100%;
}

#start_button {
  z-index: 1000;
  cursor: pointer;
  border: 0;
  background-color:transparent;
  padding: 0;
}

/* ***** ***** ***** *****
 * Custom CSS
 ***** ***** ***** ***** */

.s_response, #div_language {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* ***** ***** ***** *****
 * Card Style
 ***** ***** ***** ***** */
.card_row {
    width: 100%;
    height: 250px;
}

.card_container {
    width: 500px;
    height: 100%;
    position: relative;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}

.card {
    font-size: 30px;
    color: #a8a8a8;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    position: absolute;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card span {
   display: flex;
   justify-content: center;
   flex-direction: column;
   height: 100%;
   width: 100%;
   text-align: center;
   position: absolute;
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -o-backface-visibility: hidden;
   backface-visibility: hidden;
}

.card #front {
    background-color: white;
}

.card #back {
    background-color: white;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.side_bar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: calc((100% - 500px) / 2);
    height: 100%;
    font-size: 60px;
    text-align: center;
}

#correct, #in_correct {
    line-height: 250px;
}

#correct {
    color: #36c77a;
}

#in_correct {
    color: #fb523f;
}

.l_response {
    position: absolute;
    opacity: 0.0;
    left: 5%;
    bottom: 0;
    width: 195px;
    height: 195px;
}

.s_response {
    position: relative;
    margin: auto;
    padding-left: 50px;
    bottom: 50px;
    width: 450px;
    height: 100%;
    font-size: 15px;
    border-radius: 5px;
    background-color: white;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
}

.r_response {
    position: absolute;
    opacity: 0.0;
    right: 5%;
    bottom: 0;
    width: 195px;
    height: 195px;
}

.nav {
    font-size: 60px;
    color:#333; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .5s ease;
}

.nav:hover {
    cursor: pointer;
    background-size: 150% 150%;
}

.nav_left {
    text-shadow: -4px 4px 5px rgba(150, 150, 150, 0.65);
}

.nav_center {
    text-shadow: 0px 5px 2px rgba(150, 150, 150, 0.65);
}

.nav_right {
    text-shadow: 4px 4px 5px rgba(150, 150, 150, 0.65);
}

#div_language {
    margin-top: 15px;
}

.footer {
    position:fixed;
    bottom: 15px;;
    width: 100%;
    height: 15%;
}

.flash {
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: .75s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: .75s;
}

.grayout {
    opacity: 0.6; /* Real browsers */
    filter: alpha(opacity = 60); /* MSIE */
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {   opacity: 0.0;
             transform:translateY(100%);
         }
    50%  {   opacity: 1.0;
             transform:translateY(0);
             padding-bottom: 5px;
         }
    100% {   opacity: 0.0;
             transform:translateY(100%);
         }
}

/* Standard syntax */
@keyframes example {
    0%   {   opacity: 0.0;
             transform:translateY(100%);
         }
    50%  {   opacity: 1.0;
             transform:translateY(0);
             padding-bottom: 5px;
         }
    100% {   opacity: 0.0;
             transform:translateY(100%);
         }
}

.style_prevu_kit
{
    display:inline-block;
    border:0;
    width:100px;;
    height:60px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.style_prevu_kit:hover
{
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

.test {
    opacity: 0.2;
}

.test:hover {
    opacity: 1.0;
}

.base {
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Modal style */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: -100px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.0); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: rgba(0, 128, 255, 0.75);
    color: white;
}

.modal-body {padding: 2px 16px;}

.user_yes, .user_no {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;;
    margin-right: 20px;
    cursor: pointer;
    width: 150px;
    height: 60px;
    color: white;
    font-weight: bold;
    border-radius: 15px;
}

.user_yes {
    background-color: #36c77a;
    box-shadow: -4px 4px 5px rgba(150, 150, 150, 0.65);
}

.user_no {
    box-shadow: 4px 4px 5px rgba(150, 150, 150, 0.65);
    background-color: #fb523f;
}

.modal-footer {
    padding: 2px 16px;
    background-color: rgba(0, 128, 255, 0.75);
    color: white;
} {top: 0; opacity: 1}
}